h1=apiInfo.name 
- if (authStatus && apiInfo.oauth && apiInfo.oauth.type =='three-legged')
    - var authed ='authed'
- else
    - var authed =''

form#credentials
    input(type='hidden', name='apiName', value=apiName)
    - if (apiInfo.auth)
        - if (!authed)
          section(class='credentials ' + authed)

             h2 API Credentials
               img(src='/images/key.png')

             - if (apiInfo.oauth)
                 input(type='hidden', name='oauth', value='authrequired')

             //- if (session.defaultKey)
                 - var defaultKey =session.defaultKey
             //- else
                 - var defaultKey =''

             //- if (session.defaultSecret)
                 - var defaultSecret =session.defaultSecret
             //- else
                 - var defaultSecret =''
             //- if (session.defaultAccessKey)
                 - var defaultAccessKey =session.defaultAccessKey
             //- else
                 - var defaultAccessKey =''
             //- if (session.defaultAccessSecret)
                 - var defaultAccessSecret =session.defaultAccessSecret
             //- else
                 - var defaultAccessSecret =''

             div
                 label(for='key') API Key
                 input(id='key', name='key', placeholder="Required", style='color=#EEEEEE')
             div
                 - if (apiInfo.oauth || apiInfo.signature)
                     label(for='secret') Shared Secret
                     input(id='secret', name='secret', placeholder="Required", style='color=#EEEEEE')
             - if(apiInfo.oauth && apiInfo.oauth.type !='two-legged')
                 div
                     label(for='accessKey') Access Key
                     input(id='accessKey', name='accessKey', style='color=#EEEEEE')
                 div
                     label(for='accessSecret') Access Key Secret
                     input(id='accessSecret', name='accessSecret', style='color=#EEEEEE')
                 div
                    input(name='save', value='Oauth / Save', type='submit', id='oauth-auth')
             input(type='hidden', name='action', value='submit', id='submitClicked')
            // input(name='default', value='Get Default', type='submit', id='oauth-auth', onclick="javascript:document.getElementById('submitClicked').value='getDefault'")
        - else if (authed && apiInfo.oauth)
            section(class='credentials ' + authed)
                div
                    span Authenticated with OAuth
                    img(src='/images/accept.png')
                input(type='hidden', name='action', value='remove', id='submitClicked')
                input(name='remove', value='Invalidate', type='submit', onclick="javascript:document.getElementById('submitClicked').value='remove'")


div(id='controls')
    ul
        li
            a#toggle-endpoints(href='#') Toggle All Endpoints
        li
            a#toggle-methods(href='#') Toggle All Methods

ul
    - each endpoint in apiDefinition.endpoints
        li.endpoint
            h3.title
                span.name=endpoint.name
                ul.actions
                    li.list-methods
                        a(href='#') List Methods
                    li.expand-methods
                        a(href='#') Expand Methods
            - if (endpoint.methods.length)
            ul.methods.hidden
                -if(endpoint.Synopsis)
                    !{endpoint.Synopsis}
                - each method in endpoint.methods
                    - var httpmethod =method.HTTPMethod.toLowerCase()
                    - if (method.RequiresOAuth ==='Y' || method.RequiresOAuth ===true)
                        - var secure ='authrequired'
                    - else
                        - var secure =''
                    li(class='method ' + httpmethod + ' ' + secure)
                        div.title
                            span.http-method #{method.HTTPMethod}
                            span.name #{method.MethodName}
                            span.uri #{method.URI}
                        form.hidden
                            input(type='hidden', name='httpMethod', value=method.HTTPMethod)
                            input(type='hidden', name='oauth', value=secure)
                            input(type='hidden', name='methodUri', value=method.URI)
                            input(type='hidden', name='endpointName', value=endpoint.name)
                            input(type='hidden', name='postContentType', value=method.PostContentType)
                            input(type='hidden', name='methodName', value=method.MethodName)
                            span.description #{method.Synopsis}
                            br
                            br

                            - if (method.headers && method.headers.length > 0)
                                table.headers
                                    thead
                                        tr
                                            th Header
                                            th Value
                                            th
                                            th Description
                                    tbody
                                        - var headerCount =0
                                        - each header in method.headers
                                            - headerCount++
                                            div(id='header' + headerCount)
                                                - var required =true
                                                - var className ='required'
                                                tr(class=className)
                                                    td.name=header.Name
                                                    td.header
                                                        - var defaultValue = header.Default
                                                        - if(defaultHeaders != null)
                                                            - each value,key in defaultHeaders
                                                                - if (key == header.Name)
                                                                    - defaultValue = value
                                                        - if(HelperHeaders != null)
                                                            -each value,key in HelperHeaders
                                                                - if(key == endpoint.name+':'+method.MethodName)
                                                                    -each value1,key1 in value
                                                                        -if (key1 == header.Name)
                                                                            -defaultValue = value1
                                                        input(name='headers[' + header.Name + ']', value=defaultValue, placeholder=className)
                                                    td.blank
                                                    td.description
                                                        p=header.Description || 'No description'

                            - if (method.parameters.length > 0)
                                table.parameters
                                    thead
                                        tr
                                            th Parameter
                                            th Value
                                            th Type
                                            th Description
                                    tbody
                                        - var paramCount =0
                                        - each parameter in method.parameters
                                            - paramCount++
                                            div(id='param' + paramCount)
                                                - if (parameter.Required =='Y')
                                                    - var required =true
                                                    - var className ='required'
                                                - else
                                                    - var required =false
                                                    - var className =''
                                                tr(class=className)
                                                    td.name=parameter.Name
                                                    td.parameter
                                                        - if (parameter.Type =='enumerated')
                                                            select(name='params[' + parameter.Name + ']', placeholder=className)
                                                                - if (parameter.Default =='')
                                                                    option(value='')
                                                                - each choice in parameter.EnumeratedList
                                                                    - if (parameter.Default ==choice)
                                                                        option(value=choice, selected=true) #{choice}
                                                                    - else
                                                                        option(value=choice) #{choice}
                                                        - else if (parameter.Type =='boolean')
                                                            select(name='params[' + parameter.Name + ']', placeholder=className)
                                                                - if (parameter.Default =='')
                                                                    option(value='')
                                                                - each choice in [apiInfo.booleanTrueVal,apiInfo.booleanFalseVal]
                                                                    - if (parameter.Default ==choice)
                                                                        option(value=choice, selected=true) #{choice}
                                                                    - else
                                                                        option(value=choice) #{choice}
                                                        - else
                                                            - var defaultValue = parameter.Default
                                                            - if(defaultParams != null)
                                                                - each value,key in defaultParams
                                                                    - if (key == parameter.Name)
                                                                        - defaultValue = value
                                                            - if(HelperParams != null)
                                                                -each value,key in HelperParams
                                                                    - if(key == endpoint.name+':'+method.MethodName)
                                                                        -each value1,key1 in value
                                                                            -if (key1 == parameter.Name)
                                                                                -defaultValue = value1
                                                            input(name='params[' + parameter.Name + ']', value=defaultValue, placeholder=className)
                                                    td.type=parameter.Type
                                                    td.description
                                                        p=parameter.Description || 'No description'
                                                        - if (parameter.Type =='enumerated' && parameter.EnumeratedDescription)
                                                            dl.clearfix
                                                                - each description, choice in parameter.EnumeratedDescription
                                                                    dt #{choice}
                                                                    dd #{description}


                            - if(method.RequiresPostData =='Y')
                                label(for='requestBody') POST
                                div
                                    -var defaultValue = ''
                                    - if(HelperRequestBody != null)
                                        - each value,key in HelperRequestBody
                                            - if(key == endpoint.name+':'+method.MethodName)
                                                -defaultValue = value
                                    textarea(id='requestBody', name='requestBody', cols='200', class="expand")
                                        #{defaultValue}

                            // Create header fields and button to add/remove headers.
                            - if (!method['read-only'])
                                input(type='submit', id=method.MethodName, value='Try it!')
