!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Mastera'
        title=title
        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js')
        meta(http-equiv="CACHE-CONTROL", content="NO-CACHE")
        meta(http-equiv="PRAGMA", content="NO-CACHE")
        meta(http-equiv="EXPIRES", content="0")

    body
        input(type="hidden", id="refreshed", value="no")
        script(type="text/javascript")
            onload=function(){
                var e=document.getElementById("refreshed");
                if(e.value=="no")e.value="yes";
                else{
                    e.value="no";
                    location.reload();
                }
            }
        div(class='wrap')
            div(class='pageheader')
                div(class='login')
                    form(action='/logout', method='get')
                        - if (loginInfo)
                            input(name='logout', value='Logout', type='submit')
                            span=loginInfo.displayName
                            h5='Welcome '
                        - else
                            ipp:login(href="/openid/intuit")
                div(class='title')
                    h1=title

            !{body}
            div(id='io-footer')
               div(class='f-left') &copy;
                  a(href='http://www.aditi.com') Aditi Technologies
               div(class='f-right') Powered by
                  a(href='https://github.com/mashery/iodocs') I/O Docs

            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
            script(src='/javascripts/json2.js')
            script(src='/javascripts/prettify.js')
            script(src='/javascripts/utilities.js')
            script(src='/javascripts/livedocs.js')
            script(src='/javascripts/docs.js')
            script(src='/javascripts/expand.js')

